aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
discord.py==2.5.2
frozenlist==1.7.0
idna==3.10
matplotlib
multidict==6.6.3
propcache==0.3.2
python-dotenv==1.1.1
pytz==2025.2
vaderSentiment
yarl==1.20.1
